@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "Transactions";
}
<!doctype html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table class="table table-bordered table-striped table-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Product</th>
            <th>Product ID</th>
            <th>User ID</th>
            <th>User</th>
            <th>Cost</th>
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionId</td>
                <td>@transaction.Date</td>
                <td>@transaction.Product</td>
                <td>@transaction.ProductId</td>
                <td>@transaction.UserId</td>
                <td>@transaction.User</td>
                <td>@transaction.Cost</td>
            </tr>
        }
    </table>
</body>